@font-stack:    Helvetica, sans-serif;
@primary-color: darkblue;
@background-color : beige;
body {
  max-width: 800px;
    margin: 0px auto;
    background-color: @background-color;
    border-color: black; 
    
}
.title {
  font: 100% @font-stack;
  color: @primary-color;
  text-align: center; 
}