<div (keyup)="changed()">
  <form #participantform="ngForm"> <!-- setup two way data binding using forms -->
    <br> First name: 
    <input type="text" [(ngModel)]= "partiInfo.currentParticipant.firstName" name = "firstName"> 
    Last name: <input type="text" [(ngModel)]= "partiInfo.currentParticipant.lastName" name="lastName"><br> 
    Rank:<input type="text"  [(ngModel)]= "partiInfo.currentParticipant.rank" name="rankName"><br> Age:
    <input type="text"  [(ngModel)]= "partiInfo.currentParticipant.age" name="age" ><br> Category:
    <input type="text" [(ngModel)]= "partiInfo.currentParticipant.category" name="category"><br> Gender:
    <select [(ngModel)]= "partiInfo.currentParticipant.gender" name="gender">  
     <option value="M">Male</option>
     <option value="F">Female</option>
     <option value="T">Transgender</option>
     <option value="U">Do not want to specify</option>
   </select>
  </form>
</div>