@deleteBackground : purple;
@buttonBackground : steelblue;
@removeBackground : red;
.mainlist {
    width : 13rem;
    .participantlist {
        font-family: Arial, Helvetica, sans-serif;
        tr {
            user-select: none;
        }
        .participant {
            width: 12rem;
            word-wrap: no;
            overflow-x: hidden;
            white-space: nowrap;
        }
        .participant.selected {
            user-select: none;
            border-top: solid 0.5px;
            border-bottom: solid 0.5px;
            background: lightgrey;
        }
        .remove {
            width: 5%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12pt;
            text-emphasis: bold;
            user-select: none;
            background: @removeBackground;
            color: contrast(@removeBackground);
            height: 1rem;
            width: 1rem;
            text-align: center;
            border-radius: .65rem;
        }
    }
}

.webButton,
.webButton:visited {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: lighten(@buttonBackground, 5%);
    margin: 2px;
    border-radius: .15rem;
    border: solid 1px;
    text-decoration: none;
    user-select: none;
    &:hover {
        background: @buttonBackground;
    }
    &:active {
        background: darken(@buttonBackground, 20%);
    }
}